* {
    margin: 0;
    padding: 0px;
}

body {
    background-color: #FFFFFF;
    background-image: url('../images/toast_logo.png');
    background-position: -65px -65px;
    background-repeat: no-repeat;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 20px 70px 20px 70px;
}

h1, h2, h3, h4, h5, h6 {
    color: #9A6002;
    font-family: Georgia, serif;
    margin-bottom: 20px;
}

p {
    line-height: 18px;
    margin-bottom: 18px;
}

a, a:visited, a:hover {
    color: #0000FF;
    text-decoration: underline;
}

img {
    border-width: 0px;
}

ul li {
    line-height: 14px;
    margin-left: 12px;
}

#header {
    margin-bottom: 20px;
}

#header h1 {
    margin: 25px 10px 5px;
}

#fresh_outta_the_toaster {
    border-bottom: solid 1px #333333;
    border-top: solid 1px #333333;
}

#fresh_outta_the_toaster p {
    margin-bottom: 10px;
}

#navigation {
    margin-top: 10px;
}

#acronyms_explained {
    margin: 10px 0px;
}

#content {
    border-top: solid 1px #333333;
    padding-top: 20px;
}

#content ul {
    margin-bottom: 18px;
}

#footer ul {
    display: none;
}

#copyright {
    border-top: solid 1px #333333;
    padding-top: 30px;
    text-align: center;
}