@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chunkfive';
  src: url('/fonts/Chunkfive-webfont.eot?') format('eot'), url('/fonts/Chunkfive-webfont.woff') format('woff'), url('/fonts/Chunkfive-webfont.ttf') format('truetype');
}

body {
  @apply bg-white text-zinc-700 leading-5;
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2;
  font-family: 'Chunkfive', Georgia, serif;
}

h1,
h2 {
  @apply mb-4;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

a[href],
a:hover[href],
a:visited[href] {
  @apply text-cyan-500 no-underline;
}

a:hover[href] {
  @apply underline;
}

p {
  @apply mb-4;
}

footer {
  @apply text-sm mt-8 text-center;
}

.container {
  @apply mx-auto my-4 px-2 py-8 text-left md:w-[60rem] border-y-2 border-y-zinc-800;
}

.mini-divider {
  @apply border-t-2 border-t-zinc-300 w-1/2 mx-auto md:p-2;
}

#contact {
  @apply mb-8;

  h1 {
    @apply text-3xl mb-1 print:text-xl;
  }

  .n {
    @apply text-zinc-800 uppercase;

    .given-name {
      @apply text-7xl leading-[4.25rem] mt-4 print:mt-0 print:text-4xl;
    }

    .family-name {
      @apply text-6xl leading-[1.75rem] print:text-3xl;
    }
  }

  .contact_info {
    @apply text-zinc-600 mt-12 print:mt-4;

    .pronouns {
      @apply mb-4;
    }

    .adr {
      @apply mb-4;
    }

    .other_sites {
      @apply mt-4;
    }
  }
}

#about {
  @apply mb-9;
}

#experience {
  @apply mb-9;
}

#skills {
  @apply text-sm text-zinc-500 mb-8;

  p {
    @apply italic;
  }

  dl {
    dt {
      @apply text-base font-bold mt-4 underline;
    }

    dd {
      /* @apply pl-2; */
    }
  }
}

.metadata {
  @apply text-zinc-500 text-sm mb-4;
}

.portfolio {
  .piece {
    @apply basis-80 shrink-0 grow md:max-w-[12rem] print:max-w-[12rem];

    .screenshot {
      @apply border-2 border-zinc-800 mb-2 print:hidden;
    }

    p {
      @apply text-sm;
    }
  }
}

footer .snow {
  @apply text-7xl;
}
