@font-face {
    font-family: 'Chunkfive';
    src: url('../../fonts/Chunkfive-webfont.eot?') format('eot'), url('../../fonts/Chunkfive-webfont.woff') format('woff'), url('../../fonts/Chunkfive-webfont.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Chunkfive', Georgia, serif;
    font-weight: normal;
    margin: 0px 0px 5px 0px;
}

h1, h2 {
    margin: 0px 0px 15px 0px;
}

h3, h4 {
    font-weight: normal;
}

a[href], a:hover[href], a:visited[href] {
    color: #00AEDA;
    text-decoration: none;
}

a:hover[href] {
    text-decoration: underline;
}

p {
    margin: 0px 0px 10px 0px;
}

header {
    float: left;
    margin-top: 80px;
    width: 250px;
}

header .n {
    color: #222222;
    line-height: 60px;
    text-transform: uppercase;
}

header h1 .n .given-name {
    font-size: 68px;
    line-height: 68px;
    margin-bottom: 0px;
}

header .n .family-name {
    font-size: 52px;
    position: relative;
    top: -25px;
}

header .contact_info {
    color: #666666;
}

header .contact_info .adr {
    margin-bottom: 10px;
    width: 200px;
}

header .contact_info .other_sites {
    margin-top: 10px;
}

nav {
    margin-left: 500px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li:before {
    content: " | ";
}

nav ul li:first-child:before {
    content: "";
}

footer {
    clear: both;
    color: #666666;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

.container {
    border-bottom: solid 2px #222222;
    border-top: solid 2px #222222;
    margin: 10px auto;
    padding: 35px 10px;
    position: relative;
    text-align: left;
    width: 960px;
}

#about, #experience, #portfolio {
    margin-left: 320px;
    width: 400px;
}

#experience {
    margin-top: 35px;
}

#skills {
    color: #666666;
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 35px;
    width: 200px;
}

#skills p {
    font-style: italic;
}

#skills dl dt {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
    /* text-decoration: underline; */
}

#skills dl dd {
    margin-bottom: 0px;
    padding-left: 10px;
}

.metadata {
    color: #666666;
    font-size: 14px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.thing_i_have_done_for_money {
    margin-bottom: 25px;
}

.thing_i_have_done_for_money a,
.thing_i_have_done_for_money a:hover,
.thing_i_have_done_for_money a:visited {
    color: #00AEDA;
}

.clearboth {
    clear: both;
}

#portfolio {
    height: 340px;
    width: 600px;
}

#portfolio ul {
    list-style: none;
}

#portfolio ul li {
    float: left;
    padding: 10px 10px 10px 0px;
    width: 190px;
}

#portfolio img {
    border: solid 1px #333333;
}

#portfolio p {
    font-size: 14px;
}

footer .snow {
    font-size: 22px;
}