@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF;
  color: #333333;
  font-family: Helvetica, Arial, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #73502B;
  font-family: Georgia;
  font-weight: bold;
}

h1 {
  @apply text-7xl align-top;
}

h2 {
  @apply text-2xl align-top mb-4;
}

h3 {
  @apply text-xl align-top mb-4;
}

h1 a,
h1 a:visited,
h1 a:hover {
  color: #73502B;
}

p,
ul,
dl,
ol {
  line-height: 1.5em;
  margin-bottom: 15px;
}

ul,
ol,
dl {
  padding-left: 20px;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

a,
a:visited,
a:hover {
  color: #7595BB;
  text-decoration: none;
}

.date {
  color: #AAAAAA;
}

.entries ul {
  list-style: circle;
}

.entries ul li {
  margin-bottom: 20px;
}

.metadata {
  color: #999999;
}

pre {
  @apply overflow-x-auto bg-gray-800 text-slate-100 p-4 mb-4;
}

blockquote {
  @apply bg-gray-100 text-gray-500 p-4 mb-4;
}

blockquote p:last-child {
  @apply mb-0;
}

blockquote strong {
  @apply font-bold;
}

blockquote em {
  @apply italic;
}

p code {
  @apply bg-gray-800 text-slate-100 px-2 py-1;
}

footer {
  color: #999999;
  font-size: .8em;
  margin-top: 50px;
  text-align: center;
}
